.boxCreateEmpleado{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    /*height: auto;*/
    width: auto;
    padding: 4;
}

.style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
  }