
.containerCards{
    background-color: blue;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.containerCrearEmpleado {
    background-color: #104070;
    width: 100%;
    height: auto;
}